.titulo {
  margin-top: 70px;
}
.btn {
  margin: 2% 2% 5% 0;
}
.btn-action {
  margin: 20px 10px 0px 0px;
  min-width: 100px;
}
.icon-action {
  margin-left: 5px;
  margin-right: 5px;
}
.red {
  color: rgb(194, 74, 74);
}
.green {
  color: rgb(55, 124, 55);
}
.ref {
  margin-top: auto;
}
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
textarea.form-control {
  min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
}