h1, h2, h3, h4, h5 {
  line-height: 1.5;
}
p {
  color: #8B8B8B;
}
a {
  text-decoration: none;
}

/* BARRA DE NAVEGAÇÃO */

.navbar {
  background-color: darkslategrey;
}

/* BANNER PRINCIPAL */

#banner {
	background-color: #323338;
	color: white;
	padding: 220px 0 160px 0;
}
#banner img {
  width: 100%;
}
.bloco {
  display: table-cell;
  vertical-align: middle;
	height:400px;
}
.btn-app {
  margin: 2% 2% 5% 0;
}

/* VANTAGENS */

#vantagens {
padding: 10% 10%;
}
.vermelho {
  color: red;
}
.azul {
  color: #0D6EFD;
}
.verde {
  color: teal;
}
.box{
  text-align: center;
  padding: 5%;
}
.icon {
  margin-bottom: 5px;
}

/* DEPOIMENTOS */

#depoimentos {
  background-color: white;
  font-style: italic;
  font-size: 18px;
  color: #323338;
  padding: 20% 15%;
  text-align: center;
}
#depoimentos img {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

/* PLANOS E PREÇOS */

#planos-e-precos {
  padding: 5% 0% 15%;
  color: #323338;
}
#planos-e-precos .titulo {
  margin-top: 5%;
}
#planos-e-precos .card {
  margin-top: 5%;
}

/* MOBILE */

#mobile {
	background-color: #323338;
	color: white;
	padding: 180px 0 160px 0;
}
#mobile img {
  width: 100%;
}
/* .bloco {
  display: table-cell;
  vertical-align: middle;
	height:400px;
}
.btn-app {
  margin: 2% 2% 5% 0;
} */

/* CONTATO (RODAPÉ) */

#contato {
  padding: 3% 15%;
  text-align: center;
  background-color: #000;
}
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}
.footer-links {
  color: white;
}

/*
.titulo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:darkslategray;
}
.card {
  width: 240px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  color: darkmagenta;
}
*/
